---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.sitemapPages %}
  {% if page.url and page.url != '/feed.xml' and page.url != '/robots.txt' %}
  <url>
    <loc>{{ site.site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | default(page.inputPath) }}</lastmod>
  </url>
  {% endif %}
  {% endfor %}
</urlset>
